table{
  background-color:#ceeffd;
  width:100%;
  border:1px;}
td{
  color:#B6BCEC;
  text-align:center;
  padding:3px;}
.SVG{
  width:7%;
  border:#edf1f2 1px solid;
  background-color:#ccffff;}
.Geek{
  width:7%;
  border:#edf1f2 1px solid;
  background-color:#ffccff;}
.Fun{
  width:7%;
  border:#edf1f2 1px solid;
  background-color:#ffffcc;}
.cellButton{
  background-color:#dddff5;
  border:#e7e8f0 1px solid;
  cursor:pointer;}
.cellButton2{
  background-color:#e6e8f8;
  border:#edf1f2 1px solid;
  cursor:pointer;}
body{
  background-image: url("../img/pat_20031015090850.gif");
  font-family:Verdana,sans-serif;
  font-weight:bold;
  color:#B6BCEC;}
h1{
  font-size:2em;
  text-align:center;}
a{
  text-decoration:none;
  color:#B6BCEC;}

