body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bolder;
  background-color: #404040;
  color: #C0C0C0;}
a {
  text-decoration: underline;
  color: #C0C0C0;}
a:hover {
  background-color: #C0C0C0;
  color: #404040;}
table {
  text-align: left;
  width: 100%;}
td {
  padding: 4px;
  font-weight: bolder;
  padding-top: 8px;
  vertical-align: top;
  font-size: 1.1em;}
.title {
  font-size: 2em;
  text-align: center;
  padding: 4pt;}
.header{
  width:20%;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;}
