div.question, div.score, div#intro{
    width: 800px;
    margin: 10px auto;
    padding:10px;
    background-color:#eeeeee;
            border-radius: 10px; /* CSS3 */
       -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
}
div.score{
    margin-bottom:10px;
}
span.check{
    padding:5px;
    float:right;
    cursor:pointer;
}
span.final{
    padding:5px;
}
select#paper{
    position:absolute;
    left:20px;
    top:20px;
}
body {
    padding-top: 60px;
}