body {
  line-height: 150%;
  font-size: 18pt;
  font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
  color: black;
  background-image: url("../pictures/background.gif");
}
h1 {
  font-size: 36pt;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
}
p {
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
  text-indent: 5%;
}

